@import "./variables";

html, body {
  overflow: auto !important;
}

a.nodeco-inline {
  color: inherit;
  text-decoration: inherit;
}

a.nodeco-block {
  display: block;
  color: inherit;
  text-decoration: inherit;
}

pre {
  border: solid 1px $border;
  padding: 12px;
}

.tag.is-white {
  border: solid 1px $border;
  &:hover {
    text-decoration: none;
    color: $white-ter;
    background-color: $grey-darker;
  }
}

.section {
  padding: 24px;
}

.container {
  margin-left: 0;
  max-width: 720px;
  width: 100%; // fix for flex parent
}

.noscroll {
  overflow: hidden !important;
}

.tabs + section.tab-content {
  padding-left: 0;
  padding-right: 0;
}

.clickable {
  cursor: pointer;
}

ul.list-inline {
  overflow: hidden;
  margin: 12px 0;
  li {
    float: left;
    margin-right: 12px;
  }
  li.list-item-right {
    float: right;
    margin-left: 12px;
  }
}
