@import "./variables";

html, body {
  overflow: auto !important;
}

.root {
  height: 100%;
  // position: fixed;
  // height: 100%;
  // width: 100%;
  // display: flex;
  // flex-direction: column;
  // min-height: 100vh;
}

a.nodeco-inline {
  color: inherit;
  text-decoration: inherit;
}

a.nodeco-block {
  display: block;
  color: inherit;
  text-decoration: inherit;
}

pre {
  border: solid 1px $border;
  padding: 12px;
}

.tag.is-white {
  border: solid 1px $border;
  &:hover {
    text-decoration: none;
    color: $white;
    background-color: $black-ter;
  }
}

.section {
  padding: 24px;
}

// fix for flex parent
.container {
  width: 100%;
}

.noscroll {
  overflow: hidden;
}
