@import "./variables";

* {
  scrollbar-color: $grey-light transparent;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: $grey-light;
  border-radius: 4px;
}

a.nodeco-inline {
  color: inherit;
  text-decoration: inherit;
}

a.nodeco-block {
  display: block;
  color: inherit;
  text-decoration: inherit;
}

pre {
  border: solid 1px $border;
  padding: 16px;
}

.tag.is-white {
  border: solid 1px $border;
  &:hover {
    text-decoration: none;
    color: $white-ter;
    background-color: $grey-darker;
  }
}

.noscroll {
  overflow: hidden !important;
}

.tabs + section.tab-content {
  padding-left: 0;
  padding-right: 0;
}

.clickable {
  cursor: pointer;
}

ul.list-inline {
  overflow: hidden;
  margin: 16px 0;
  li {
    float: left;
    margin-right: 16px;
  }
  li.list-item-right {
    float: right;
    margin-left: 16px;
  }
}

// .CodeMirror {
//   height: auto;
// }

// .katex-display {
//   display: inline-block;
//   margin: 0;
// }

.fade-enter-active, .fade-leave-active {
  transition: opacity .1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
