@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

// General
// $primary: #FDABCD;
$primary: #F090B0;
$primary-inverted: #0F6F4F;
$link: $primary;

$body-background-color: $white;

$border: $grey;
$border-hover: $grey-light;

$control-radius: 0;
$input-border-color: $border;
$input-hover-border-color: $border-hover;

$button-border-color: $border;
$button-hover-border-color: $border-hover;

$text: $grey-darker;

$weight-medium : 400;
$weight-semibold : 400;
$weight-bold : 700;

$radius-small: 0;
$radius: 0;
$radius-large: 0;

// Partial

$menu-list-border-left: 2px solid $border;

$pre: $black-ter;
$pre-background: $white;

$code: $red;
$code-background: $white-ter;

$hr-height: 2px;

$family-sans-serif: Ubuntu, 'Helvetica Neue', "Hiragino Kaku Gothic ProN", Meiryo, Arial, sans-serif;
$family-monospace: 'Ubuntu Mono', consolas, 'Courier New', Courier, monospace;
$family-primary: $family-sans-serif;
$family-code: $family-monospace;
$body-primary: $family-sans-serif;

$desktop: $tablet;
$breakpoint: $tablet;

$header-title-height: 24px;
$header-sub-height: 16px;
$header-padding: 16px;
$header-margin: 8px;
$header-height: $header-sub-height + $header-title-height + $header-padding * 2 + $header-margin;

// $sidebar-bg: $grey-darker;
// $sidebar-bg: $grey-darker;
$sidebar-bg: $black-ter;

@import "~bulma/sass/utilities/derived-variables";
